*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;

}

.main{
    display: flex;
    width: 100vw;
    height:100vh ;
    background: pink;
    justify-content: center;
    align-items: center;

}

.btn{
    color: black;
    display: flex;
    justify-content: center;
    background: rgb(216, 142, 154);
}

.box{
    background-color: bisque;
    border-radius: 10px;
    
}

